@import 'font';
@import 'color';

*{
  margin: 0;
  padding: 0;
}
.features{
  width: 1170px;
  height: 291px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-block{
  width: 310px;
  height: 231px;
  padding: 40px 30px 25px;
}
.features-block:hover{
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.features-block__img{
  margin-bottom: 21px;
}
.features-block__h2{
  margin-bottom: 20px;
  @include Gilroy70024;
}
.features-block__p{
  margin-bottom: 19px;
  @include Gilroy40015;
  color: $textGrey;
  line-height: 150%;
}

.features-block__a{
  margin-bottom: 17px;
  @include Gilroy70011;
  color: #000;
  text-decoration: none;
  line-height: 150%;
}
.services{
  background-color: $backgroundServies;
}
.services-title{
  width: 1170px;
  margin: 0 auto 55px;
  padding-top: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-title__h2{
  @include Gilroy70045;
  margin-bottom: 23px;
}
.services-title__p{
  width: 682px;
  @include Gilroy40016;
  color: $textGrey;
  line-height: 150%;
}
.services-blocks{
  width: 1170px;
  height: 291px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.services-block{
  width: 310px;
  height: 549px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-block:first-child{
padding-top: 15px;
}
.services-block__img{
  margin-bottom: 22px;
}
.services-block__h3{
  @include Gilroy70024;
  margin-bottom: 24px;
}
.services-block__p{
  @include Gilroy40015;
  margin-bottom: 34px;
  color: $textGrey_2;
  line-height: 150%;
}
.services-block__input{
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  @include Gilroy70013;
  color: #FFF;
  background-color: $buttonOrange;
}
